* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial;
  font-size: 120%;
  background: #c3c3e6;
}
.container {
  max-width: 700px;
  margin: auto;
  padding: 0 12px;
}
a {
  color: #563d7c;
  text-decoration: none;
  transition: color 0.1s;
}

a:hover {
  color: #8570a5;
}

h1 {
  color: #563d7c;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  color: #563d7c;
  text-align: center;
  margin-bottom: 20px;
}
/* Start div */
.start p {
  color: #563d7c;
  margin-bottom: 40px;
}
.start h1 {
  text-transform: uppercase;
  color: #563d7c;
  margin-bottom: 20px;
}
/* Topics */
.topics {
  margin-bottom: 20px;
}
/* Questions */

.answer-button {
  width: 100%;
  text-align: start;
}

/* End-screen */
#end-screen {
  color: #563d7c;
}
#final-score {
  font-weight: bold;
  color: #fff;
  background: #563d7c;
  padding: 10px;
  border-radius: 5px;
}
#initials {
  outline-color: #563d7c;
}
.fn-score {
  margin-bottom: 20px;
}
#end-screen input {
  border: none;
  padding: 10px;
  font-size: 19.2px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
  color: #563d7c;
}
#end-screen input::placeholder {
  color: #563d7c;
}
/* Highscores */
#highscores {
  margin-bottom: 40px;
}
.highscores-btn-wraper {
  display: flex;
  justify-content: center;
}
/* Buttons */
.topic-btn {
  padding: 10px 32px;
}
button {
  display: inline-block;
  margin: 5px;
  cursor: pointer;
  font-size: 100%;
  background-color: #563d7c;
  border-radius: 5px;
  padding: 10px 32px;
  color: white;
  border: 0;
  transition: background-color 0.1s;
}

button:hover {
  background-color: #8570a5;
  box-shadow: 0 0 2px #563d7c;
}

.clicked {
  background-color: #8570a5;
  box-shadow: 0 0 2px #563d7c;
}

.choices button {
  display: block;
}

ol {
  padding-left: 0px;
  max-height: 400px;
  overflow: auto;
}

li {
  padding: 5px;
  list-style: decimal inside none;
}

li:nth-child(odd) {
  background-color: #f3edfc;
}

.wrapper {
  margin: 100px auto 0 auto;
  max-width: 600px;
  padding: 0 12px;
}

.hide {
  display: none;
}

.start {
  text-align: center;
}

.scores-timmer {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  color: #563d7c;
  font-weight: bold;
}
.scores-timmer i {
  margin-right: 10px;
}

.feedback {
  font-style: italic;
  font-size: 120%;
  margin-top: 20px;
  padding-top: 10px;
  color: gray;
  border-top: 2px solid #ccc;
}
